<footer class="text-black/50 font-quantico flex flex-row justify-center items-center p-3">
  <span>
    <p class="md:ml-5 md:mt-0 ml-0 mt-1 text-center text-base leading-1" id="copyright-footer">
      ©2023 by Yann Carvalho.
      <br />
      All Rights Reserved.
    </p>
  </span>
  <span class="flex flex-row justify-center items-end">
    <a id="github-link" href="https://github.com/yanncarvalho" class="m-2" aria-label="Link to access the app author's Github" target="_blank" title="author's Github">
      <img src="../../../assets/github.svg" width="30" height="30" />
    </a>
    <a id="linkedin-link" href="https://www.linkedin.com/in/yann-carvalho-764abab6/" class="m-2" aria-label="Link to access the app author's LinkedIn account" target="_blank" title="author's LinkedIn account">
      <img src="../../../assets/linkedin.svg" width="30" height="30" />
    </a>
  </span>
</footer>
