@import url('https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-quantico: 'Quantico', sans-serif;
  overscroll-behavior-y: contain;
  touch-action: pan-x pan-y;
}

@layer base {
  body {
    color: black;
    background: #dbe2ef;
    font-family: var(--font-quantico);
  }
}

@layer utilities {
  .font-quantico {
    font-family: var(--font-quantico);
    font-weight: normal;
  }
}

@layer components {
  .overlay {
    position: fixed;
    left: 0;
    top: 0;
  }
}
